@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@300&display=swap");
.cotainer-body {
  height: calc(100% - 70px);
  overflow: auto;
  .avatar {
    height: auto;
    width: calc(100% - 90%);
    border-radius: 50%;
  }
  .flex {
    flex-wrap: wrap;
    .user-detail-card {
      flex-basis: calc(100% - 70%);
      border-radius: 10px;
      h4 {
        font-family: "Josefin Sans", sans-serif;
      }
      .row {
        div {
          font-size: 12px;
          font-family: "Poppins", sans-serif;
        }
        .value {
          font-weight: 500;
        }
      }
    }
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  .macro-details {
    gap: 2%;
    flex-wrap: wrap;
    .param-card {
      i {
        font-size: 220%;
      }
      .param-head {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
      }
      .param-value {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 500;
      }
    }
  }
}
