.cotainer-body {
  height: calc(100% - 70px);
  overflow: auto;
  .avatar {
    height: auto;
    width: 10%;
    border-radius: 50%;
  }
  .user-detail-card {
    height: max-content;
    width: 25rem;
    border-radius: 10px;
  }
}
