@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins:wght@500&display=swap");

.main-content {
  padding: 0.5%;
  overflow-y: auto;
  flex-basis: 75%;
  overflow-y: auto;

  .heading {
    font-family: "Poppins", sans-serif;
    margin: 1%;
    font-size: 1rem;
    color: white;
    border: 1px solid transparent;
    padding: 1%;
    font-weight: 400;
  }

  .search-area {
    flex-basis: 90%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .records {
    height: calc(100% - 250px);

    overflow-y: auto;
  }
  .ag-theme-alpine {
    .ag-header {
      border: 1px solid #ffff;
      background-color: #ff6700;
    }
    .ag-header-cell-label {
      color: white;
      font-family: "Poppins";
      font-weight: normal;
    }
    .rows {
      color: #ff6700;
    }
  }
}
