@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins:wght@500&display=swap");

.main-content {
  padding: 1%;
  overflow-y: auto;
  flex-basis: 75%;
  overflow-y: auto;
  .search-area {
    flex-basis: 90%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .records {
    height: calc(100% - 240px);
    overflow-y: auto;
  }
  .heading {
    font-family: "Poppins", sans-serif;
    margin: 1%;
    font-size: 12px;
    background-color: #ff6700;
    color: white;
    border: 1px solid transparent;
    padding: 1%;
    font-weight: 400;
  }
}
