@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins:wght@500&display=swap");

.main-content {
  padding-right: 1%;
  padding-left: 1%;
  overflow-y: auto;
  flex-basis: 85%;
  max-width: 100%;

  overflow-y: auto;
  .search-area {
    flex-basis: 90%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .records {
    height: 60%;
    max-height: 100%;
    overflow: auto;
  }
  .heading {
    font-family: "Poppins", sans-serif;
    margin: 1%;
    font-size: 1rem;
  }
}
