@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins:wght@500&display=swap");
.record-list {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid orange;
    margin: 4px;
    padding: 1%;
    li {
      list-style-type: none;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      @media (max-width: 500px) {
        font-size: 3%;
      }
    }
  }
}
