.record-list {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid orange;
    margin: 4px;
    padding: 10px;
    li {
      list-style-type: none;
      font-size: 12px;
    }
  }
}
